.hero {
  background-color: $darkViolet;
  margin-top: $header-height;
  position: relative;
  padding: 8rem;

  #bg-pattern-intro-left-desktop {
    position: absolute;
    width: 180px;
    left: 0;
    bottom: -52%;
    z-index: 1;
  }

  #bg-pattern-intro-right-desktop {
    position: absolute;
    width: 400px;
    right: 0;
    top: 0;
    z-index: 1;
  }

  #bg-pattern-intro-right-mobile,
  #bg-pattern-intro-left-mobile {
    position: absolute;
  }

  &__container {
    max-width: $desktop-max-width;
    display: flex;
    flex-direction: row;

    .hero__text {
      flex: 1;
      position: relative;
      text-align: left;
      color: $veryLightGray;
      margin-right: 3rem;

      p {
        margin: 2rem 0;
        font-weight: 400;
      }
    }

    .hero__img {
      flex: 1;
      position: relative;

      img {
        position: absolute;
        width: 100%;
      }
    }
  }
}

@media screen and(min-width: $mobile-max-width) {
  #bg-pattern-intro-right-mobile,
  #bg-pattern-intro-left-mobile {
    display: none;
  }

  .hero {
    hr {
      display: none;
    }
  }
}

@media screen and(max-width: $mobile-max-width) {
  .hero {
    position: relative;
    padding: 0;

    #bg-pattern-intro-left-desktop,
    #bg-pattern-intro-right-desktop {
      display: none;
    }

    #bg-pattern-intro-left-mobile {
      display: block;
      position: absolute;
      left: 0;
      top: calc(100% / 2);
    }

    #bg-pattern-intro-right-mobile {
      display: block;
      position: absolute;
      bottom: -180px;
      right: 0;
    }

    &__container {
      max-width: $mobile-max-width;
      flex-direction: column-reverse;
      position: static;
      // height: 100%;

      .hero__text {
        padding: 6rem 2rem;
        text-align: center;
        margin: 0;
        height: calc(100% / 2);

        hr {
          flex: none;
          display: none;
          position: relative;
        }
      }

      .hero__img {
        flex: none;
        position: relative;
        height: calc(100% / 2);
        // display: none;

        img {
          position: relative;
          width: 100%;
        }
      }
    }
  }
}
