.info {
  margin-top: 8rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .advantages {
    display: flex;
    flex-direction: row;
    margin: 4rem 0;

    &__card {
      margin-right: 2rem;

      .card__img {
        margin-bottom: 1rem;
      }

      .card__title {
        margin: 1rem 0;
      }
    }
  }

  .find-more {
    margin-top: 8rem;

    &__container {
      position: relative;
      background: $darkViolet;
      color: $veryLightGray;
      padding: 6rem 4rem;

      #bg-pattern-how-we-work-desktop {
        position: absolute;
        right: 0;
        top: 0;
      }

      #bg-pattern-how-we-work-mobile {
        position: absolute;
      }
    }

    &__text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .button {
        position: relative;
        z-index: 2;
        height: fit-content;
      }
    }
  }
}

@media screen and(min-width: $mobile-max-width) {
  #bg-pattern-how-we-work-mobile {
    display: none;
  }
}

@media screen and(max-width: $mobile-max-width) {
  .info {
    padding: 2rem;
    text-align: center;
    align-items: center;

    hr {
      color: rgb(226, 223, 223);
    }

    .advantages {
      flex-direction: column;

      &__card {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    .find-more {
      margin-bottom: 8rem;

      &__container {
        #bg-pattern-how-we-work-desktop {
          display: none;
        }

        #bg-pattern-how-we-work-mobile {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &__text {
        flex-direction: column;

        .button {
          margin-top: 3rem;
        }
      }
    }
  }
}
