h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 0.9;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 0.9;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

p {
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

li {
  list-style-type: none;
}

hr {
  display: block;
  width: 25%;
  margin-bottom: 3rem !important;
}

.hidden {
  display: none;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  border-style: solid;
  border-width: thin;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 2rem;
  cursor: pointer;
  list-style-type: none;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.button--light {
  color: inherit;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.button--light:hover {
  background-color: #2d2640;
  color: #fafafa;
}

.button--dark {
  color: inherit;
}

.button--dark:hover {
  background-color: #fafafa;
  color: #2b272f;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
}

header {
  background-color: white;
  position: fixed;
  max-width: 1440px;
  width: 100%;
  z-index: 999;
  top: 0;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 8rem;
  color: #2b272f;
}

header .nav__logo {
  width: 100%;
}

header .nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav__link {
  margin: 0.4rem 1.2rem;
  cursor: pointer;
  color: #95a9c6;
  text-transform: uppercase;
}

header .nav__link:hover {
  color: #2d2640;
}

@media screen and (max-width: 450px) {
  header {
    width: 450px;
  }
  header .nav {
    padding: 1rem 2rem;
  }
  header .nav__toggle {
    display: block;
  }
  header .nav__menu {
    display: none;
  }
  header .nav__toggle {
    display: block;
    cursor: pointer;
  }
}

.hero {
  background-color: #2d2640;
  margin-top: 5rem;
  position: relative;
  padding: 8rem;
}

.hero #bg-pattern-intro-left-desktop {
  position: absolute;
  width: 180px;
  left: 0;
  bottom: -52%;
  z-index: 1;
}

.hero #bg-pattern-intro-right-desktop {
  position: absolute;
  width: 400px;
  right: 0;
  top: 0;
  z-index: 1;
}

.hero #bg-pattern-intro-right-mobile,
.hero #bg-pattern-intro-left-mobile {
  position: absolute;
}

.hero__container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__container .hero__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: left;
  color: #fafafa;
  margin-right: 3rem;
}

.hero__container .hero__text p {
  margin: 2rem 0;
  font-weight: 400;
}

.hero__container .hero__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.hero__container .hero__img img {
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 450px) {
  #bg-pattern-intro-right-mobile,
  #bg-pattern-intro-left-mobile {
    display: none;
  }
  .hero hr {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .hero {
    position: relative;
    padding: 0;
  }
  .hero #bg-pattern-intro-left-desktop,
  .hero #bg-pattern-intro-right-desktop {
    display: none;
  }
  .hero #bg-pattern-intro-left-mobile {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% / 2);
  }
  .hero #bg-pattern-intro-right-mobile {
    display: block;
    position: absolute;
    bottom: -180px;
    right: 0;
  }
  .hero__container {
    max-width: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: static;
  }
  .hero__container .hero__text {
    padding: 6rem 2rem;
    text-align: center;
    margin: 0;
    height: calc(100% / 2);
  }
  .hero__container .hero__text hr {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: none;
    position: relative;
  }
  .hero__container .hero__img {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    position: relative;
    height: calc(100% / 2);
  }
  .hero__container .hero__img img {
    position: relative;
    width: 100%;
  }
}

.info {
  margin-top: 8rem;
  padding: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 4rem 0;
}

.info .advantages__card {
  margin-right: 2rem;
}

.info .advantages__card .card__img {
  margin-bottom: 1rem;
}

.info .advantages__card .card__title {
  margin: 1rem 0;
}

.info .find-more {
  margin-top: 8rem;
}

.info .find-more__container {
  position: relative;
  background: #2d2640;
  color: #fafafa;
  padding: 6rem 4rem;
}

.info .find-more__container #bg-pattern-how-we-work-desktop {
  position: absolute;
  right: 0;
  top: 0;
}

.info .find-more__container #bg-pattern-how-we-work-mobile {
  position: absolute;
}

.info .find-more__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.info .find-more__text .button {
  position: relative;
  z-index: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 450px) {
  #bg-pattern-how-we-work-mobile {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .info {
    padding: 2rem;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info hr {
    color: #e2dfdf;
  }
  .info .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .advantages__card {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .info .find-more {
    margin-bottom: 8rem;
  }
  .info .find-more__container #bg-pattern-how-we-work-desktop {
    display: none;
  }
  .info .find-more__container #bg-pattern-how-we-work-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .info .find-more__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .find-more__text .button {
    margin-top: 3rem;
  }
}

.footer {
  padding: 0 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  position: relative;
}

.footer #bg-pattern-footer-desktop {
  position: absolute;
  top: -174px;
  left: -8rem;
  top: 0;
  left: 0;
  width: 450px;
  z-index: 0;
}

.footer #bg-pattern-footer-mobile {
  position: absolute;
  width: 450px;
}

.footer hr {
  width: 100%;
  position: relative;
  color: #e2dfdf;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
  position: relative;
  z-index: 1;
}

.footer__socials .footer__social {
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials .footer__social__icon {
  cursor: pointer;
  height: 25px;
}

.footer__socials .footer__social__icon:hover {
  fill: #2d2640;
}

.footer__additional {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  margin-bottom: 3rem;
}

.footer__additional ul {
  width: calc(100% / 4);
}

.footer__additional ul p {
  color: #837d87;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer__additional ul li {
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.footer__additional ul li:hover {
  color: #837d87;
  text-decoration: underline;
}

.footer__attribution {
  bottom: 0;
  text-align: center;
}

@media screen and (min-width: 450px) {
  #bg-pattern-footer-mobile {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 0 2rem;
  }
  .footer #bg-pattern-footer-desktop {
    display: none;
  }
  .footer #bg-pattern-footer-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .footer__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials .footer__logo {
    width: 120px;
    margin-bottom: 2rem;
  }
  .footer__additional {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__additional ul {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}

html,
body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html main,
body main {
  margin-top: 5rem;
}

html *,
body * {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 450px) {
  html,
  body {
    font-size: 14px;
    max-width: 450px;
  }
}
/*# sourceMappingURL=style.css.map */